/* CSS de responsividade das definições globais do projeto */

/* XS */
@media(min-width: 576px) {

}

/* SM */
@media(min-width: 576px) and (max-width: 768px) {

}

/* MD */
@media(min-width: 768px) and (max-width: 992px) {
	
}

/* LG */
@media(min-width: 992px) and (max-width: 1200px) {

}

/* XL */
@media(min-width:1200px) {

}
