* {
  font-family: "Roboto", sans-serif;
}

.text-orange {
  color: #ff763b;
}

.text-green {
  color: #35fc03;
}

.btn-orange {
  background-color: #ff763b;
  color: #fff;
}

.btn-orange:hover {
  background-color: #d06734;
  color: #fff;
}

.btn-outline-orange {
  color: #ff763b;
  background-color: transparent;
  background-image: none;
  border-color: #ff763b;
}

.btn-outline-orange:hover {
  background-color: #ff763b;
  background-image: none;
  border-color: #ff763b;
  color: #fff;
}

.bg-orange {
  background-color: #ff763b;
}

.nav-link {
  font-size: 14px !important;
}

#preco {
  font-size: 30px;
}

#comofunciona {
  font-size: 20px;
  font-family: Raleway, sans-serif;
  transform: rotate(0deg);
}

/* IMAGEM */
.header {
  width: 100%;
  height: 400px;
  background: url(../mesa.jpg) no-repeat;
  opacity: 0.9;
  background-size: cover;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
}

.img-transparence {
  opacity: 0.5;
}

.header h1 {
  font-size: 60px;
  letter-spacing: 1px;
}

.header p {
  font-size: 19px;
}

.center {
  margin-top: 80px;
}

@media (max-width: 990px) {
  .header {
    width: 100%;
    height: 500px;
    background: url(../mesa.jpg) no-repeat;
    opacity: 0.9;
    background-size: cover;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
  }

  .header h1 {
    font-size: 60px;
    letter-spacing: 1px;
  }

  .header p {
    font-size: 19px;
  }

  .center {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .header {
    width: 100%;
    height: 500px;
    background: url(../mesa.jpg) no-repeat;
    opacity: 0.9;
    background-size: cover;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
  }

  .header h1 {
    font-size: 60px;
    letter-spacing: 1px;
  }

  .header p {
    font-size: 19px;
  }

  .center {
    margin-top: 35px;
  }
}

@media (max-width: 765px) {
  .header {
    width: 100%;
    height: 500px;
    background: url(../mesa.jpg) no-repeat;
    opacity: 0.9;
    background-size: cover;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
  }

  .header h1 {
    font-size: 60px;
    letter-spacing: 1px;
  }

  .header p {
    font-size: 19px;
  }

  .center {
    margin-top: 35px;
  }
}

@media (max-width: 405px) {
  .header {
    width: 100%;
    height: 560px;
    background: url(../mesa.jpg) no-repeat;
    opacity: 0.9;
    background-size: cover;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
  }

  .header h1 {
    font-size: 60px;
    letter-spacing: 1px;
  }

  .header p {
    font-size: 19px;
  }

  .center {
    margin-top: 35px;
  }
}

#conteudo {
  margin-bottom: 50px;
}

/*----------------------------------*/

#clientes {
  background-color: rgba(0, 0, 0, 0.8);
}

#j {
  min-height: 400px;
}

#c {
  min-height: 100px;
  max-height: 200px;
}

#ico {
  height: 37px;
}

#footer {
  padding-bottom: 75px;
}

/* SISTEMA DE FEEDBACK */

.testimonial-section {
  padding: 80px 0;
  text-align: center;
}

.inner-widht {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.testimonial-section h1 {
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.testimonial-pics {
  padding: 40px 0;
}

.testimonial-pics img {
  width: 100px;
  height: 100px;
  border-radius: 40%;
  margin: 0 20px;
  filter: grayscale(100%);
  transition: 0.3s;
  cursor: pointer;
}

.testimonial-section img:hover,
.testimonial-pics img.active {
  filter: none;
}

.testimonial-contents {
  max-width: 600px;
  margin: auto;
}

.testimonial {
  display: none;
}

.testimonial.active {
  display: block;
}

.testimonial p {
  color: #5c5c5c;
  margin-bottom: 20px;
}

.testimonial .description {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 15px;
  color: rgb(233, 70, 6);
}

hr {
  margin: 10px 0px 10px;
}

.testimonial-section {
  padding: 80px 0;
  text-align: center;
}

.inner-widht {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.testimonial-section h1 {
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.testimonial-pics {
  padding: 40px 0;
}

.testimonial-pics img {
  width: 100px;
  height: 100px;
  border-radius: 40%;
  margin: 0 20px;
  filter: grayscale(100%);
  transition: 0.3s;
  cursor: pointer;
}

.testimonial-section img:hover,
.testimonial-pics img.active {
  filter: none;
}

.testimonial-contents {
  max-width: 600px;
  margin: auto;
}

.testimonial {
  display: none;
}

.testimonial.active {
  display: block;
}

.testimonial p {
  color: #5c5c5c;
  margin-bottom: 20px;
}

.testimonial .description {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 15px;
  color: rgb(233, 70, 6);
}

hr {
  margin: 10px 0px 10px;
}

.text-diamante {
  color: #03b5ff;
}

.text-ouro {
  color: #ffc83c;
}

.card {
  height: 300px;
}
