.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: fontAwesome;
    font-weight: 900;
    font-size: 40px;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: fontAwesome;
    font-weight: 900;
    font-size: 40px;
    color: #ff8933;

}

.stars-sm-outer {
    position: relative;
    display: inline-block;
}

.stars-sm-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-sm-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: fontAwesome;
    font-weight: 500;
    font-size: 16px;
    color: #ccc;
}

.stars-sm-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: fontAwesome;
    font-weight: 500;
    font-size: 16px;
    color: #ff8933;

}

.rating {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
}

.rating input {
    display: none;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 50px;
}

.rating label:before {
    content: "\f005";
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: rgba(16, 16, 16, 0.31);
}

.rating label:after {
    content: "\f005";
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #ff8933;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(16, 16, 16, 0.31);
}

.rating label:hover:after,
.rating label:hover~label:after,
.rating input:checked~label:after {
    opacity: 1;
}

.banner-generico {
    opacity: 0.06;
}

.banner {
    width: auto;
    height: 200px;
    max-width: 100%;
}

.nav-link {
    font-size: 14px !important;
}